{% extends '_content.html.twig' %}

{% block title %}{{ 'leading_codes.title'|trans }}{% endblock %}
{% block description %}{{ 'leading_codes.description'|trans }}{% endblock %}

{% trans_default_domain "reference_data" %}
{% import "macros/components.html.twig" as components %}

{% block inner_content %}
    <p>
        <a class="btn btn-outline-primary"
           href="{{ path("reference_data_leading_code_new") }}">
            <i class="fas fa-plus"></i>
            {{ "leading_code_new.title"|trans }}
        </a>
    </p>
    <table class="table table-striped table-hover datatable border">
        <thead>
        <tr>
            <th>{{ "entity.title"|trans({}, "entity_leading_code") }}</th>
            <th>{{ "enum.title"|trans({}, "enum_pathogen") }}</th>
            <th data-orderable="false">{{ "Organism group"|trans({}, "entity_leading_code") }}</th>
            <th data-orderable="false">
                {{ "entity.title"|trans({}, "entity_specimen") }} /
                {{ "Specimen group"|trans({}, "entity_leading_code") }}
            </th>
            <th data-orderable="false">{{ "Interpretation group"|trans({}, "entity_leading_code") }}</th>
            <th class="w-minimal" data-orderable="false"></th>
        </tr>
        </thead>
        <tbody>
        {% for leadingCode in leadingCodes %}
            <tr>
                <td>{{ components.render_code(leadingCode) }}</td>
                <td>{{ leadingCode.pathogen|trans }}</td>
                <td>{{ leadingCode.organismGroup }}</td>
                <td>
                    {% if leadingCode.specimen %}
                        {{ components.render_code(leadingCode.specimen) }}
                    {% else %}
                        {{ leadingCode.specimenGroup }}
                    {% endif %}
                </td>
                <td>{{ leadingCode.interpretationGroup|trans }}</td>
                <td class="w-minimal">
                    <a class="btn btn-secondary"
                       href="{{ path("reference_data_leading_code_edit", {"leadingCode" : leadingCode.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
