<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

{% set flashes = app.session.flashbag.all() %}
{% if flashes|length > 0 %}
    <div class="flash-wrapper container pt-2">
        {% for type, messages in flashes %}
            {% for message in messages %}
                <div class="col-12 alert alert-{{ type }} alert-dismissible fade show" role="alert">
                    <div class="container text-center">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}

{% if is_granted('IS_IMPERSONATOR') %}
    <div class="flash-wrapper">
        <div class="alert alert-danger" role="alert">
            <a href="{{ impersonation_exit_path(app.request.requestUri) }}">{{ "exit_impersonation"|trans({}, "security") }}</a>
        </div>
    </div>
{% endif %}

{% block body %}{% endblock %}
</body>
</html>
