{% extends '_layout.html.twig' %}

{% block title %}{{ 'index.title'|trans }}{% endblock %}
{% block description %}{{ 'index.description'|trans }}{% endblock %}

{% trans_default_domain "index" %}

{% block content %}
    <section class="container container-text">
        <h1>{{ 'index.title'|trans }}</h1>
        <p class="lead">
            {{ 'index.description'|trans }}
        </p>

        <p>
            {{ 'index.welcome'|trans }}
        </p>


        <p>
            <a href="{{ path('login') }}">
                {{ "login.title"|trans({}, "security") }}
            </a>
        </p>
    </section>
{% endblock %}
