{% extends '_layout.html.twig' %}

{% block title %}{{ 'active.description'|trans }}{% endblock %}
{% block description %}{{ 'active.description'|trans }}{% endblock %}

{% trans_default_domain "probe" %}
{% import "macros/components.html.twig" as components %}

{% block content %}
    <h1>{{ 'active.title'|trans }}</h1>

    <script src="{{ url('probe_active_js') }}"></script>
    {{ components.vue_entry_point('vue-active-probes') }}

{% endblock %}
