{% extends '_layout.html.twig' %}

{% block title %}{{ 'new.title'|trans }}{% endblock %}
{% block description %}{{ 'new.description'|trans }}{% endblock %}

{% trans_default_domain "probe" %}
{% import "macros/components.html.twig" as components %}

{% block content %}
    <h1>{{ "new.title"|trans({}, "probe") }}</h1>

    <script src="{{ url('probe_new_js') }}"></script>
    {{ components.vue_entry_point('vue-probe-new') }}
{% endblock %}
