{% extends 'base.html.twig' %}

{% block title %}{{ 'error.title'|trans }}{% endblock %}
{% block description %}{{ 'error.description'|trans }}{% endblock %}

{% trans_default_domain "index" %}

{% block body %}
    <section class="container container-text py-5">
        <h1>{{ 'error.title'|trans }}</h1>
        <p class="lead">
            {{ 'error.description'|trans }}
        </p>

        <p>
            {{ 'error.help'|trans }}
        </p>
    </section>
{% endblock %}
