{% extends '_content.html.twig' %}

{% block title %}{{ 'specimen.title'|trans }}{% endblock %}
{% block description %}{{ 'specimen.description'|trans }}{% endblock %}

{% trans_default_domain "reference_data" %}
{% import "macros/components.html.twig" as components %}

{% block inner_content %}
    <p>
        <a class="btn btn-outline-primary"
           href="{{ path("reference_data_specimen_new") }}">
            <i class="fas fa-plus"></i>
            {{ "specimen_new.title"|trans }}
        </a>
    </p>
    <table class="table table-striped table-hover datatable border">
        <thead>
        <tr>
            <th class="w-minimal">{{ "Specimen group"|trans({}, "entity_specimen") }}</th>
            <th>{{ "entity.title"|trans({}, "entity_specimen") }}</th>
            <th class="w-minimal" data-orderable="false"></th>
        </tr>
        </thead>
        <tbody>
        {% for specimen in specimens %}
            <tr>
                <td>
                    {% if specimen.specimenGroup %}
                        <span class="badge bg-purple">
                            {{ specimen.specimenGroup }}
                        </span>
                    {% endif %}
                </td>
                <td>
                    {{ components.render_code(specimen) }}
                    {{ components.render_hideable(specimen) }}
                </td>
                <td class="w-minimal">
                    <a class="btn btn-outline-secondary"
                       href="{{ path("reference_data_specimen_edit", {"specimen" : specimen.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
